@charset "UTF-8";

@font-face {
      src : url("fonts/야놀자 야체 Bold.ttf");
      font-family: "yaplay"
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  
	margin: 0;
	padding: 0.5rem 1rem;

	font-family: "yaplay";
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;

 	display: inline-block;
	width: auto;

	background-color: white;
	border: solid;
	border-color: #9BC4F0;
	border-radius: 5px;
	border-width: 5px;
	
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  	cursor: pointer;
}