@charset "UTF-8";

@font-face {
      src : url("fonts/GmarketSansTTFMedium.ttf");
      font-family: "gmarket"
}

@font-face {
      src : url("fonts/NanumGothic.ttf");
      font-family: "NanumGothic"
}

#name_area {
    resize: none;
    font-size: 25px;
    font-weight: 800;
    width: 1498px;
    height: 40px;
    vertical-align: middle;
    border-radius: 7px 7px 0px 0px/ 7px 7px 0px 0px;
    background-color: #303F89;
    color: white;
    padding: 5px 0px 0px 7px;
    line-height: 33px;
    font-family: gmarket;
}

#write_section {
    resize : none;
    font-weight: 400;
    width: 1500px;
    height: 350px;
    border-radius: 0px 0px 7px 7px/ 0px 0px 7px 7px;
    padding: 5px 0px 0px 5px;
    color: black;
    font-family: NanumGothic;
}

#button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  
	margin: 0;
	padding: 0.5rem 1rem;

	font-family: "yaplay";
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;

 	display: inline-block;
	width: auto;

	background-color: white;
	border: solid;
	border-color: #9BC4F0;
	border-radius: 5px;
	border-width: 5px;
	
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  	cursor: pointer;
}