@charset "UTF-8";
@font-face{
	src: url("fonts/NanumGothic.ttf");
    font-family: "NanumGothic"; 
 }
@font-face{
	src: url("fonts/야놀자 야체 Bold.ttf");
    font-family: "yaplay";
 }
@font-face{
	src: url("fonts/GmarketSansTTFMedium.ttf");
    font-family: "Gmarket";
 }
 
span {
	font-family: "yaplay";
	font-size: 1.5em;
	color: #303F89;
}
 
.detail_whole {
	border: 3px solid;
	height: 500px;
	width: 1000px;
	background-color: #E8F3FF;
	margin: 15px;
	color: #303F89;
	border-radius: 17px;
	margin-top: 30px;
}
.detail_title {
	border: 2px solid;
	border-color: #7698BD;
	background-color: white;
	margin: 5px;
	padding: 10px;
	border-radius: 13px;
}

.detail_writer {
	border: 2px solid;
	border-color: #7698BD;
	margin: 5px;
	padding: 10px;
	background-color: white;
	border-radius: 13px;
}
.detail_subject {
	border: 2px solid;
	border-color: #7698BD;
	margin: 5px;
	padding: 10px;
	background-color: white;
	border-radius: 13px;
}
.detail_text {
	border: 2px solid;
	border-color: #7698BD;
	height: 290px;
	margin: 5px;
	padding: 10px;
	background-color: white;
	border-radius: 13px;
}

.menu {
   list-style-type: none;
   width: 100px;
   padding: 0px;
   margin: 0px;
   position: fixed;
   background-color: #E8F3FF;
   border-radius: 10px 10px 10px 10px/ 10px 10px 10px 10px;
}

li a {
   padding: 10px;
   display: block;
   height: 56px;
   text-align: center;
   line-height: 55px;
   text-decoration-line: none;
   font-family: "yaplay";
   font-size: 40px;
}

.contents_wrapper {
   margin: 0px;
   padding: 0px;
   height: 85%;
   border-radius: 0px 0px 10px 10px/ 0px 0px 10px 10px;
   display: inline;
}

.home {
   background-color: #303F89;
   border-radius: 10px 10px 0px 0px/ 10px 10px 0px 0px;
   color: white;
}

.item {
   color: black;
}